version: "3.9"

services:
  app:
    image: python:3.11-slim
    container_name: fastapi_app
    build: ./app
    command: ["uvicorn", "main:app", "--host", "0.0.0.0", "--port", "8000"]
    ports:
      - "8000:8000"
    volumes:
      - ./app:/app
    depends_on:
      - postgres
      - neo4j
    networks:
      - backend

  neo4j:
    image: neo4j:5.20
    container_name: neo4j_db
    environment:
      NEO4J_AUTH: neo4j/your_password
    ports:
      - "7474:7474"
      - "7687:7687"
    volumes:
      - ./neo4j/data:/data
      - ./neo4j/import:/import
      - ./neo4j/plugins:/plugins
    networks:
      - backend

  postgres:
    image: postgres:16
    container_name: postgres_db
    environment:
      POSTGRES_DB: shop
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: your_password
    ports:
      - "5432:5432"
    volumes:
      - ./postgres/data:/var/lib/postgresql/data
    networks:
      - backend

networks:
  backend:
    driver: bridge
